<div class="imageviewer">
  <h1><%= title %></h1>
  <a rel="example_group" title="<%= title %>" href="images/large/<%= large %>"><%= image_tag "small/#{small}" %></a>
  <table>
    <tr><td>Material:</td><td>Wood</td></tr>
    <tr><td>Product:</td><td>Trivet</td></tr>
    <tr><td>Category:</td><td>Misc</td></tr>
  </table>
</div>