<div id="nav">
  <ul>
    <li class="header selected">All Products</li>
    <li class="header">By Materials
      <ul>
        <li>Cork</li>
        <li>Wood</li>
      </ul>
    </li>
    <li class="header">By Type
      <ul>
        <li>Trivets</li>
      </ul>
    </li>
    <li class="header">By Subject
      <ul>
        <li>Light Houses</li>
      </ul>
    </li>
    <li class="header">About Me</li>
  </ul>
</div>