<div class="imageviewer">
  <h1>APG Ordinance Museum</h1>
  <a rel="example_group" title="APG Ordinance Museum" href="images/large/APG Ordnance Museum Trivet.jpg"><%= image_tag "small/APG Ordnance Museum Trivet.jpg" %></a>
  <table>
    <tr><td>Material:</td><td>Wood</td></tr>
    <tr><td>Product:</td><td>Trivet</td></tr>
    <tr><td>Category:</td><td>Misc</td></tr>
  </table>
</div>

<div class="imageviewer">
  <h1>Back Creek Store on Trivet</h1>
  <a rel="example_group" title="Back Creek Store" href="images/large/Back Creek Store on Trivet.jpg"><img src="images/small/Back Creek Store on Trivet.jpg" alt="" /></a>
  <table>
    <tr><td>Material:</td><td>Wood</td></tr>
    <tr><td>Product:</td><td>Trivet</td></tr>
    <tr><td>Category:</td><td>Misc</td></tr>
  </table>
</div>

<div class="imageviewer">
  <h1>Baltimore Inner Harbor Trivet</h1>
  <a rel="example_group" title="Baltimore Inner Harbor Trivet" href="images/large/Baltimore Inner Harbor Trivet.jpg"><img src="images/small/Baltimore Inner Harbor Trivet.jpg" alt="" /></a>
  <table>
    <tr><td>Material:</td><td>Wood</td></tr>
    <tr><td>Product:</td><td>Trivet</td></tr>
    <tr><td>Category:</td><td>Misc</td></tr>
  </table>
</div>

<div class="imageviewer">
  <h1>Byard House on Trivet</h1>
  <a rel="example_group" title="Byard House on Trivet" href="images/large/Byard House on Trivet.jpg"><img src="images/small/Byard House on Trivet.jpg" alt="" /></a>
  <table>
    <tr><td>Material:</td><td>Wood</td></tr>
    <tr><td>Product:</td><td>Trivet</td></tr>
    <tr><td>Category:</td><td>Misc</td></tr>
  </table>
</div>
